.ReadBody {
    position: absolute;
    top: 100px;
    left: 50px;
    width: calc(100% - 100px);
}

.ReadBody span {
    position: absolute;
    top: 60px;
    font-size: 20px;
    color: #286086;
}

.ReadBody .PostPhoto {
    position: absolute;
    top: 113px;
    width: 100%;
    height: 500px;
    background: url('./images/casual.png');
    background-size: cover;
}

.ReadBody p {
    position: absolute;
    top: 653px;
    width: 100%;
}

footer {
    position: absolute;
    top: 3350px !important;
}

#here {
    position: absolute;
    top: 0;
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .ReadBody {
        position: absolute;
        top: 100px;
        left: 40px;
        width: calc(100% - 80px);
    }
    
    .ReadBody span {
        position: absolute;
        top: 60px;
        font-size: 20px;
        color: #286086;
    }
    
    .ReadBody .PostPhoto {
        position: absolute;
        top: 113px;
        width: 100%;
        height: 500px;
        background: url('./images/casual.png');
        background-size: cover;
    }
    
    .ReadBody p {
        position: absolute;
        top: 653px;
        width: 100%;
    }
    
    footer {
        position: absolute;
        top: 3350px !important;
    }
    
    #here {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 1030px) {
    .ReadBody {
        position: absolute;
        top: 100px;
        left: 25px;
        width: calc(100% - 50px);
    }

    .ReadBody h1 {
        font-size: 30px;
    }
    
    .ReadBody span {
        position: absolute;
        top: 174px;
        font-size: 20px;
        color: #286086;
    }
    
    .ReadBody .PostPhoto {
        position: absolute;
        top: 223px;
        width: 100%;
        height: calc(100vw - 50px);
        background: url('./images/casual.png');
        background-size: cover;
    }
    
    .ReadBody p {
        position: absolute;
        top: 613px;
        width: 100%;
    }
    
    footer {
        position: absolute;
        top: 3350px !important;
    }
    
    #here {
        position: absolute;
        top: 0;
    }
}